---
import Header from '../components/HeaderWici'
---
<Header client:load/>
<main class="">
  <section class="relative bg-[url(/img/wici/heroWICI.png)] bg-center bg-no-repeat bg-cover h-[80vh] lg:h-screen">
  <!-- Capa oscura -->
  <div class="absolute inset-0 bg-black/20"></div>

  <!-- Contenido centrado -->
 <!-- Contenido posicionado a la izquierda -->
<div class="absolute z-10 text-white px-4 left-1 lg:left-16 top-1/2 -translate-y-1/2 w-[310px] md:w-[592px] h-[312px] flex flex-col justify-center text-left bg-black/50 rounded-2xl">
  <h1 class="text-2xl md:text-4xl font-bold leading-snug">
    Workshop en Investigación en Ciencias e Ingenierías <strong class="text-[#e0b02e]">WICI-2025</strong>
  </h1>
  <p class="text-base mt-2">UTP | Centro Regional de Veraguas | Sala Galo Chang</p>
  <p class="mt-4 text-lg">16 de Octubre 2025</p>
</div>

</section>
<section class="px-4 py-8 md:px-8 lg:px-16 bg-white">
  <div class="max-w-screen-md mx-auto">
    <h2 class="text-[#e0b02e] text-2xl font-bold mb-4">Call for Papers</h2>
    <p class="text-gray-800 leading-relaxed">
      La Universidad Tecnológica de Panamá (UTP), Centro Regional de Veraguas, invita a la
      comunidad científica nacional e internacional a enviar artículos inéditos para
      <strong class="text-[#e0b02e]">WICE-UTP2025</strong>, workshop oficial del COICIT 2025. El objetivo es difundir resultados
      de investigación, desarrollo e innovación alineados con las cinco áreas prioritarias de investigación
      de la UTP. Las contribuciones aceptadas se publicarán en un número especial de la revista
      <em>PRISMA Tecnológico</em>, revista multidisciplinaria indexada en DOAJ y Latindex, de acceso abierto y revisión
      doble-ciego.
    </p>
  </div>
</section>
<section class="px-4 py-8 md:px-8 lg:px-16 bg-white">
  <div class="max-w-screen-md mx-auto">
    <h2 class="text-[#e0b02e] text-2xl font-bold mb-4">Temas de Interés</h2>
    <p class="text-gray-800 leading-relaxed">
      El Workshop da la bienvenida a presentaciones originales y de alta calidad en las siguientes áreas, que incluyen, entre otras:
    </p>
     <ul class="mt-8 grid gap-4 grid-cols-2 lg:grid-cols-5">
      <li>
        <a href="#" class="flex flex-col items-center overflow-hidden">
          <img
            src="/img/wici/infraestructura.png"
            alt=""
            class="w-9 h-9"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-center text-gray-800 leading-relaxed">
              Infraestructura
            </h3>

            <!-- <p class="mt-2">
              <span class="text-center text-xs text-gray-900">materiales, resiliencia sísmica, gemelos digitales, BIM, carreteras inteligentes.</span>
            </p> -->
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-col items-center overflow-hidden">
          <img
            src="/img/wici/energia-verde.png"
            alt=""
            class="w-9 h-9"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-center text-gray-800 leading-relaxed">
              Energía y Ambiente
            </h3>

            <!-- <p class="mt-2">
              <span class="text-center text-xs text-gray-900">materiales, resiliencia sísmica, gemelos digitales, BIM, carreteras inteligentes.</span>
            </p> -->
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-col items-center overflow-hidden">
          <img
            src="/img/wici/planta.png"
            alt=""
            class="w-9 h-9"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-center text-gray-800 leading-relaxed">
              Automatización
            </h3>

            <!-- <p class="mt-2">
              <span class="text-center text-xs text-gray-900">materiales, resiliencia sísmica, gemelos digitales, BIM, carreteras inteligentes.</span>
            </p> -->
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-col items-center overflow-hidden">
          <img
            src="/img/wici/idea-creativa.png"
            alt=""
            class="w-9 h-9"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-center text-gray-800 leading-relaxed">
              Ciencia, Tecnología y Sociedad
            </h3>

            <!-- <p class="mt-2">
              <span class="text-center text-xs text-gray-900">materiales, resiliencia sísmica, gemelos digitales, BIM, carreteras inteligentes.</span>
            </p> -->
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-col items-center overflow-hidden">
          <img
            src="/img/wici/red-de-computadoras.png"
            alt=""
            class="w-9 h-9"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-center ttext-gray-800 leading-relaxed">
              TIC
            </h3>

            <!-- <p class="mt-2">
              <span class="text-center text-xs text-gray-900">materiales, resiliencia sísmica, gemelos digitales, BIM, carreteras inteligentes.</span>
            </p> -->
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="px-4 py-8 md:px-8 lg:px-16 bg-white">
  <div class="max-w-screen-md mx-auto">
    <h2 class="text-[#e0b02e] text-2xl font-bold mb-4">Lugar del Workshop</h2>
    <p class="text-gray-800 leading-relaxed">
      El Workshop se llevará a cabo en la Sala Galo Chang, Centro Regional de Veraguas, UTP
      ofreciendo un espacio para el intercambio de conocimiento, experiencias, la creación de redes
      de contacto con invitados nacionales e internacionales en la modalidad presencial y virtual en
      un entorno enriquecedor y motivador.

    </p>
  </div>
</section>
</main>
<footer class="bg-[#e0b02e]">
  <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
    
  </div>
</footer>

